body{
    background:var(--bg);
    color:var(--text);
}

.dashboard{
    display:grid;
    grid-template-columns:270px 1fr;
    min-height:100vh;
}

.sidebar{
    background:var(--sidebar);
    border-right:1px solid var(--border);
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    padding:25px;
}

.main-content{
    display:flex;
    flex-direction:column;
}

.topbar{
    height:80px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 35px;
    border-bottom:1px solid var(--border);
    background:#121b2c;
}