<header class="topbar">

    <div class="search-box">

        <input
            type="text"
            placeholder="Search alerts, IPs, hashes, incidents..."
        >

    </div>

    <div class="topbar-right">

        <div id="datetime">

            Loading...

        </div>

        <div class="notification">

            🔔

        </div>

        <div class="profile">

            <div class="avatar">

                A

            </div>

            <div>

                <strong>Administrator</strong>

                <br>

                <small>Security Analyst</small>

            </div>

        </div>

    </div>

</header>