<header class="topbar">

    <div class="search-box">
        <input type="text" placeholder="Search alerts, IPs, hashes, users...">
    </div>

    <div class="topbar-right">

        <div id="datetime"></div>

        <button class="icon-btn" title="Notifications">
            🔔
        </button>

        <div class="profile">

            <div class="avatar">
                A
            </div>

            <div>
                <strong>Administrator</strong>
                <br>
                <small>Security Analyst</small>
            </div>

        </div>

    </div>

</header>